.chamada{
    background: red;
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
    


}
body{ 
    color:aqua;
    background: red;
    margin: 0px;
    font-family: "playwrite GB S", cursive;
    margin-bottom: 100px;

}
header{
    border-bottom: solid 3px 

}
