.chamada{
    background: red;
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
    


}
body{ 
    color:rgb(30, 4, 59)9, 0, 255);
    background: red;
    margin: 0px;
    font-family: "playwrite GB S", cursive;
    margin-bottom: 100px;

}
header{
    border-bottom: solid 3px red;
    padding: 20px;
    font-size: 32px;
    color: black
}
.chamada{
    background:rgb(49, 30, 70);
    margin-top: 80px;
    display:flex;
    justify-content: center;


}
.chamada-texto{
    margin-right: 5%;
}
h1{
    font-size: 34px;
}

.categoria{
    background: orange;


}
